# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
TestingPlatform/.idea/**/workspace.xml
TestingPlatform/.idea/**/tasks.xml
TestingPlatform/.idea/dictionaries

# Sensitive or high-churn files:
TestingPlatform/.idea/**/dataSources/
TestingPlatform/.idea/**/dataSources.ids
TestingPlatform/.idea/**/dataSources.xml
TestingPlatform/.idea/**/dataSources.local.xml
TestingPlatform/.idea/**/sqlDataSources.xml
TestingPlatform/.idea/**/dynamic.xml
TestingPlatform/.idea/**/uiDesigner.xml

# Gradle:
TestingPlatform/.idea/**/gradle.xml
TestingPlatform/.idea/**/libraries

# CMake
TestingPlatform/cmake-build-debug/
TestingPlatform/cmake-build-release/

# Mongo Explorer plugin:
TestingPlatform/.idea/**/mongoSettings.xml

## File-based project format:
TestingPlatform/*.iws

## Plugin-specific files:

# IntelliJ
TestingPlatform/out/

# mpeltonen/sbt-idea plugin
TestingPlatform/.idea_modules/

# JIRA plugin
TestingPlatform/atlassian-ide-plugin.xml

# Cursive Clojure plugin
TestingPlatform/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
TestingPlatform/com_crashlytics_export_strings.xml
TestingPlatform/crashlytics.properties
crashlytics-build.properties
TestingPlatform/fabric.properties